// Place all the styles related to the Categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import "variables.scss";

.category-img-height {
  height: 250px;
}

.category-name {
  top: 10px;
  left: 25px;
}

.category-title {
  bottom: 15px;
  left: 25px;
}

.category-section {
  width: 100%;
  height: 50%;
  display: flex;
}

.category-1 {
  width: 20rem;
  flex-grow: 2;
  height: 16rem;
  border: 1px solid black;
}

.category-book {
  width: 20rem;
  height: inherit;
}
