<footer>
<div>
  <a class="navbar-brand footer-logo" href="#">
    R 0'cLoCk
        </a>
        </div>
        <div>
      <a href="">Privacy Policy Terms & Conditions</a>
      </div>
      <div>
      <a href="">Copyright 2021, All right reserved</a>
      </div>
      <div>
      <a><i class="fa fa-twitter"></i></a>
     <a> <i class="fa fa-linkedin"></i></a>
      <a><i class="fa fa-facebook"></i></a>
      <div>
</footer>