<footer>
<div>
  <a class="navbar-brand footer-logo" href="#">
    R 0'cLoCk
        </a>
        </div>
        <div>
      <a href="">Privacy Policy Terms & Conditions</a>
      </div>
      <div>
      <p class="text-white">Copyright 2021, All right reserved</p>
      </div>
      <div>
      <a href="https://twitter.com/devgrachy"><i class="fa fa-twitter"></i></a>
     <a href="https://www.linkedin.com/in/ajanaku-temitope/"> <i class="fa fa-linkedin"></i></a>
      <a href="https://web.facebook.com/ajanaku.temitopegrace"><i class="fa fa-facebook"></i></a>
      <div>
</footer>